- title "#{@committee.name}"
%h2= "Nominations/Application for #{@nominee.name}"


%h3 Nominee/Applicant Info
.block
  = render 'user', :user => @nominee

%h3 Application
- if @application
  .block
    = render 'application', :application => @application
- else
  .block
    No application submitted.

%h3 Nominations
- if @nominations.empty?
  No nominations submitted.
- else
  - @nominations.each do |nomination|
    .block
      = render 'nomination', :nomination => nomination

