%h1 Manage Committees 
= link_to "Create Committee", new_admin_committee_path
%table.committees
  %thead
    %tr
      %td Name
      %td # of Nominees
      %td Action
  %tbody
    - @committees.each do |committee|
      %tr
        %td= link_to committee.name, admin_committee_path(committee)
        %td TODO
        %td
          = link_to "View", admin_committee_path(committee)
          = link_to "Edit", edit_admin_committee_path(committee)
          = link_to "Delete", admin_committee_path(committee), :method => "delete", :confirm => "Are you ABSOLUTELY sure you want to delete this committee? All data for it (nominations, etc.) will be lost."
