%h2= "Questions for #{type.humanize}" 
= link_to "New Question", new_admin_question_path("for_#{type}" => true), :class => "btn primary"
%table
  %thead
    %tr
      %th Question
      %th Committee
      %th Actions
  %tbody
    - questions.each do |question|
      %tr
        %td= question.text
        %td= question.committee.try(:name)
        %td= link_to "Delete", admin_question_path(question), :method => 'delete', :confirm => "Are you sure you want to delete this question?"
