%h2= committee.name 
= link_to "Nominate for Committee", new_nomination_path(:committee_id => committee.id), :class => "btn large primary" 

= link_to "Apply to Committee", new_application_path(:committee_id => committee.id), :class => "btn large primary"

%p= markdown(committee.info)
- unless committee.contact_info.blank?
  %p 
    %em Contact:
    = markdown(committee.contact_info)
- unless committee.website.blank?
  %p
    %em Website:
    %p= link_to committee.website, committee.website


