- title @committee.name 
%p= markdown(@committee.info)
- unless @committee.contact_info.blank?
  %p 
    %strong Contact:
    = markdown(@committee.contact_info)
- unless @committee.website.blank?
  %p
    %strong Website:
    = link_to @committee.website, @committee.website

= link_to "Nominate for Committee", new_nomination_path(:committee_id => @committee.id), :class => "btn large primary" 

= link_to "Apply to Committee", new_application_path(:committee_id => @committee.id), :class => "btn large primary"
