<!DOCTYPE html>
<html>
<head>
  <title>Committees</title>
  <%#= stylesheet_link_tag    "application" %>
  <%#= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="flashes">
    <% flash.each do |type, text| %>
      <p class="<%= type %>"><%= text %></p>
    <% end %>
  </div>
  <div class="nav">
    <ul class="committees">
      <% Committee.all.each do |committee| %>
        <li><%= link_to committee.name, committee %></li>
      <% end %>
    </ul>
  </div>
  <%= yield %>
</body>
</html>
